<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Admin panel
        style
            include ../static/style.css
        
    body    
        h1 Welcome to admin panel
        each profile in emailList
            div(class="profile")
                h3 #{profile.name}
                h3 #{profile.email}
        
        form(action="/admin", method="post",class="adminForm")
            input(type="text", name="subject" placeholder="Enter the subject of the email....")
            textarea(name="content", cols="30", rows="10" placeholder="Enter the content of the email....")
            input(type="password", name="sent" placeholder="Enter your password here..")
            input(type="submit", placeholder="Send mails ....")
            
        